In [27]:
import numpy as np

x = np.random.randint(0, 10)
print(x)

7

In [28]:
listOfNumbers = [1,3,4,23,34,21,78,12,99,9999]
newNums = []

for i in listOfNumbers:
    if i > 12:
        newNums.append(i)

print(newNums)

[23, 34, 21, 78, 99, 9999]

In [29]:
# We use backslah "\" to continue a statement to the next line

total = 1+2+3\
    +4+6+5

print(total)

21

In [30]:
#Multiple statement in one line

x = "Shivansh"; y = "Gupta"; z = x + " " + y
print(type(x))
print(z)

<class 'str'>
Shivansh Gupta

In [31]:
#Calculator 

x = int(input("Enter the first number"))
y = int(input("Enter the second number"))
operation = input("Enter the symbol of the operation you would like to perform")

if operation == "+":
    print("Sum: ", (x+y))
elif operation == "-":
    print("Difference: ", (x-y))
elif operation == "*":
    print("product: ", (x*y))
elif operation == "/":
    print("Division: ", (x/y))
else:
    print("NOT VALID!!!")

Sum:  5

In [32]:
range(11)
#this function is an in-built ability in python to generate a range of numbers from 0 up until the number specified
#Note => when we say range(11) that means it will include 0 aswell and print up until 10 including 10 and it starts from 0.

for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [33]:
"""
the for loop below is a simple example of what we can do with the range function. Below each parameter is specified as to what it does number wise;

1. this is the start digit. This is the first number that will be printed when we run the for loop we can change this to whatever we want. By default its starts at zero
2. This is basically the number up until we are trying to print.Look at the previous cell to better understand this. 
3. This represents the incrementation amount. by how much will the count go up by. Right npw its set to 2 but we can change this however we want.
"""
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [34]:
# Reverse
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [35]:
# String

str = "Shivansh Gupta"

for i in str:
    print(i)

S
h
i
v
a
n
s
h

G
u
p
t
a

In [36]:
# Continue
# The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i % 2 != 0:
        continue
    print(i)

0
2
4
6
8

In [37]:
# Pass
# the pass statement is a null operation; it does nothing

for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

In [38]:
# Prime number between 1-100

for i in range(101):
    if i>1:
        for j in range(2, i ):
            if i%j==0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Tuple

In [39]:
# Creating a tuple
#A tuple is immutable meaning we cannot change the values inside a tuple once they have been initialized
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [40]:
# another way to create a list and a tuple
lst=list() #Here we are creating a list using the list class
print(type(lst))
tpl=tuple() #Here we are creeating a tuple using the tuple class
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [41]:
#WE CAN TYPE CAST BETWEEN A LIST AND A TUPLE AS WELL DOING THE CASTING THE SAME WAY WE DO WITH INT AND STRING. tuple([1,2,3,4,5]) and similarly list((1,2,3,4,5))
numbers = tuple([1,2,3,4,5,6])
print(numbers)
print(type(numbers))
nums=list((1,2,2,3,3,4,5,5))
print(nums)
print(type(nums))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
[1, 2, 2, 3, 3, 4, 5, 5]
<class 'list'>

In [42]:
#Accessing tuple elements
numbers1 = tuple([1,2,3,4,5,6])
print(numbers1[2])
print(numbers1[-1])
print(numbers1[0:3])
print(numbers1[::-1])#This is how we can reverse a Tuple or list aswell depending on the use case

3
6
(1, 2, 3)
(6, 5, 4, 3, 2, 1)

In [43]:
#Operations on tuple
nums1 = tuple([1,2,3,4,5,6,7,8,9,10,1,2,3,6,1,1,1])
mixed_tuple = (1,"Shivansh", 3.8, True)

#Concatination
concat=nums1+mixed_tuple
print(concat)

#Printing out a tuple multiple times(THIS DOES NOT CHANGE THE VALUES INSIDE THE TUPLE BUT INSTEAD EVERYTHING A SPECIFIED NUMBER OF TIMES)
print(mixed_tuple * 3)

#Tuple Methods
print(nums1.count(1)) #how many times 1 appears in the tuple
print(nums1.index(3)) #at what index is 3 present at in the tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 6, 1, 1, 1, 1, 'Shivansh', 3.8, True)
(1, 'Shivansh', 3.8, True, 1, 'Shivansh', 3.8, True, 1, 'Shivansh', 3.8, True)
5
2

In [44]:
#packing and Unpacking tuples

#whenevr we initialize a variable as we have done below, it means we are packing a tuple
packed_tuple = 1, "Shiv", 1.9999
print(packed_tuple)

# Tuple Unpacking
# Tuple ke andar ki values ko alag-alag variables mein nikalna = unpacking
a, b, c = packed_tuple
print(a)
print(b)
print(c)

(1, 'Shiv', 1.9999)
1
Shiv
1.9999

In [45]:
#unpacking tuple with a *

letters = ("A","B","C","D","E")

first, *middle, last = letters
print(first)
print(middle)
print(last)

A
['B', 'C', 'D']
E

In [46]:
#Nested tuple

#First lets look at a nested list
lst1 = [[1,2,3,4,5,6],[7,8,9],[3,"Shivansh", True, 3.89]]
print(lst1)
print(lst1[2][1])
print(lst1[0][0:3])

#Now lets look at a nested tuple
lst2 = ((1,2,3,4,5,6),(7,8,9),(3,"Shivansh", True, 3.89))
print(lst2)
print(lst2[2][1])
print(lst2[0][0:3])
for i in lst2:
    for j in i:
        print(j, end = " ")

#WE CAN ALSO HAVE A TUPLE INSIDE A NESTED LIST

[[1, 2, 3, 4, 5, 6], [7, 8, 9], [3, 'Shivansh', True, 3.89]]
Shivansh
[1, 2, 3]
((1, 2, 3, 4, 5, 6), (7, 8, 9), (3, 'Shivansh', True, 3.89))
Shivansh
(1, 2, 3)
1 2 3 4 5 6 7 8 9 3 Shivansh True 3.89

# Sets

## Python Sets â€“ Properties (Simple Explanation)

## What is a Set?
A **set** is a collection of items that is:
- **Unordered**
- **Unique** (no duplicate values)
- **Mutable** (can be changed)

Example:
```python
my_set = {1, 2, 3}

In [47]:
set1 = {1,2,3,4,5}
print(set1)
set2 = set([1,2,2,3,4,5,6,7,7,8,9]) #another wa to create a set is to directly just use the class
print(type(set2))

{1, 2, 3, 4, 5}
<class 'set'>

In [48]:
#unique items only duplicate values dont get printed multiple times
set3 = {1,2,2,2,2,2,3}
print(set3)

{1, 2, 3}

In [49]:
#Set Operations 

set4 = set([1,2,3,4])

#adding to a set
set4.add(5)
print(set4)

#removing element from a set
set4.remove(1)
print(set4)

#If we were to remove a element from the set that does not exist using the .discard() method we will NOT get an error, but if we do .remove() method we will

{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [50]:
#Set membership test
set5={1,2,3,4,5}

print(4 in set5)
print(67 in set5)

True
False

In [51]:
#Mathematical operations in Sets 
set6 = set([1,2,3,4,5,6])
set7 = {7,8,9}
set8 = set((1,3,6))

#union
setunion = set6.union(set7)
print(setunion)

#intersection
setintersection = set.intersection(set8)
print(setintersection)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 6}

In [52]:
#Counting unique words in a text(sentence)

text = "hi my name is Shivansh, and Shivansh has a 3.5 CGPA"
words = text.split()

uniqueWords = set(words)
print(uniqueWords)
print(len(uniqueWords))

{'is', 'and', 'Shivansh', 'has', 'name', '3.5', 'a', 'Shivansh,', 'hi', 'CGPA', 'my'}
11

# Dictionaries

### Dictionary = key se value nikalne ka sabse easy aur fast tareeka. In other words think of it like a StudentID-->Name type of correlation.

#### Dictionary could also be treated as a class

In [2]:
#Creating dictionaries
emptyDictionary = {}
print(type(emptyDictionary))
dict1 = dict()
print(type(dict1))

<class 'dict'>
<class 'dict'>

In [4]:
# 1st item is the key of the dictioanry(in this case its numbers representing student ID) and the second value is the value associated to that key(in this case its the name)
dict2 = {1:"Shivansh", 2:"Messi", 3:"Neymar"}
print(dict2)

dict3 = {"name": "Shivansh", "age": 19, "Major": "CS"}
print(dict3)

{1: 'Shivansh', 2: 'Messi', 3: 'Neymar'}
{'name': 'Shivansh', 'age': 19, 'Major': 'CS'}

In [5]:
#KEY SHOULD BE UNIQUE
#IF WE DEFINE A KEY BEFORE WITH A CERTAIN VALUE BUT LATER DOWN THE DICTIONARY DEFINE THE SAME SAME KEY AGAIN WITH A NEW VALUE, THE OLD VALUE WILL BE LOST AND IT WILL PRINT THE NEW VALUE

dict4 = {"name": "Shivansh", "age": 19, "name": "CS"}
print(dict4)

{'name': 'CS', 'age': 19}

In [12]:
#Accesing Dictionary elements 
dict5 = {"name": "Shivansh", "age": 19, "major": "CS"}

#One way to get the values
print(dict5["name"])
print(dict5["age"])

#Another way to get the values
print(dict5.get("name"))
print(dict5.get("major"))
print(dict5.get("lastName")) #since we dont have a lastName key in the dict we will get a "None" value once this is run
print(dict5.get("lastName", "The key does not exist")) # here we can output a custom message or whatver we want if the key is not find

Shivansh
19
Shivansh
CS
None
The key does not exist

In [16]:
#Modifying Dictionary Elements
## Dictionaries are mutable, meaning we can add,update, and delete elements BUT REMEMBER OUR KEY SHOULD BE UNQUE IN EVERY CASE

dict6 = dict(one="Shivansh", two="Messi", three="Neymar", four="Ronaldo") # in python the key values of a dictionary cannot be integers

#adding to the dictionary
dict6["five"] = "Maldini" 
print(dict6)

#updating the dictionary
dict6["four"] = "Christino Ronaldo"
print(dict6)

#deleting elements from the dictionary
del dict6["four"]
print(dict6)

{'one': 'Shivansh', 'two': 'Messi', 'three': 'Neymar', 'four': 'Ronaldo', 'five': 'Maldini'}
{'one': 'Shivansh', 'two': 'Messi', 'three': 'Neymar', 'four': 'Christino Ronaldo', 'five': 'Maldini'}
{'one': 'Shivansh', 'two': 'Messi', 'three': 'Neymar', 'five': 'Maldini'}

In [18]:
#Dictionary methods
dict7 = {"name":"Shivansh", "age": 19, "country": "USA"}

keys = dict7.keys() # get all the keys in the dictionary
print(keys)
values = dict7.values() # get all the values in the dictionary
print(values)
items = dict7.items() # get all key value pairs
print(items)

dict_keys(['name', 'age', 'country'])
dict_values(['Shivansh', 19, 'USA'])
dict_items([('name', 'Shivansh'), ('age', 19), ('country', 'USA')])

# Shallow copy Vs Deep copy 


### Shallow Copy-> Shallow copy means uppar uppar kee copy karna. meaning if we have a list with certain elements like 1,2,3 but after 3 we have a another list inside the original list like lst=[1,2,3,[4,5]] and if we we do the .copy() method to copy tihs lst into lst1 then change the value of 1,2,3 in the lst1 to something else and print the both lists then the change will happen only in lst1 and lst will remain the same as defined originally. The problem occurs if we change the value of 4,5 in lst1 and then print both lists, the value of 4,5 will be changed in both to the new value in BOTH of the lists.


### Deep Copy->Deep Copy is basically solves the issue for Shallow Copy in the above example. It allows for both lists to be treated as two different lists and if we make change to one list it does not reflect the same change to both lists, only does change to the specified list.

In [14]:
# Reference copy
l1 = {"name": "Shivansh", "age": 19, "state": "DE"}
l2 = l1

l2["name"] = "Shiv"
print(l1)
print(l2)
print()

# Shallow copy
l1 = {"name": "Shivansh", "age": 19, "state": "DE"}
l2 = l1.copy()

l2["name"] = "Shiv"
print(l1)
print(l2)
print()

# Deep copy
import copy

l1 = {"name": "Shivansh", "age": 19, "state": "DE"}
l2 = copy.deepcopy(l1)

l2["name"] = "Shiv"
print(l1)
print(l2)

{'name': 'Shiv', 'age': 19, 'state': 'DE'}
{'name': 'Shiv', 'age': 19, 'state': 'DE'}

{'name': 'Shivansh', 'age': 19, 'state': 'DE'}
{'name': 'Shiv', 'age': 19, 'state': 'DE'}

{'name': 'Shivansh', 'age': 19, 'state': 'DE'}
{'name': 'Shiv', 'age': 19, 'state': 'DE'}

In [ ]:
#iterating over dictionary
l3 = {"name": "Shivansh", "age": 19, "state": "DE"}

#Iterating over keys
for i in l3.keys():
    print(i)
print()

#iterating over values
for i in l3.values():
    print(i)
print()

#iterating over items 
for i,j in l3.items(): #We can also just do i and it still gives the same output but the format is in the form of tuples
    print(f"{i}: {j}") # we do this to format how we are presenting the key and values.

name
age
state

Shivansh
19
DE

name: Shivansh
age: 19
state: DE

In [37]:
#Nested Dictionary

students = {
    "st1" : {"name": "Shivansh", "age": 19, "games":True},
    "st2" : {"name": "Cody", "age": 28, "games":True},
    "st3" : {"name": "Lacy", "age": 23, "games":False}
}

for i in students.values(): #first we iterate over the values in the dictonary associated with the keys(st1,st2,st3)
    print()
    for j, k in i.items(): # then since st1,st2,st3 are also dictionaries that have key value pairs, we can then iterate over them to get the keys or values inside them
        print(f"{j}: {k}")
print()

#changing the value inside
students["st1"]["name"]="Shiv"
print(students["st1"])
print()

for i in students.values():
    print(i)

name: Shivansh
age: 19
games: True

name: Cody
age: 28
games: True

name: Lacy
age: 23
games: False

{'name': 'Shiv', 'age': 19, 'games': True}

{'name': 'Shiv', 'age': 19, 'games': True}
{'name': 'Cody', 'age': 28, 'games': True}
{'name': 'Lacy', 'age': 23, 'games': False}

In [39]:
#Dictionary Comprehension 
timesTen = {a: a*10 for a in range(11)}
print(timesTen)

#Conditional Dictionary Comprehension
timesTenOdd = {b: b*10 for b in range(11) if b%2 != 0}
print(timesTenOdd)

{0: 0, 1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90, 10: 100}
{1: 10, 3: 30, 5: 50, 7: 70, 9: 90}

In [ ]:
#Use a dictionary to count the frequence of elements in a list
numbers1 = [1,1,1,2,2,3,4,4,5,5,5,5,5,5,5]
frequency = {"Number of 1's": 0, "Number of 2's": 0, "Number of 3's": 0, "Number of 4's": 0, "Number of 5's": 0}
frequency2 = {}
#THIS IS NOT THE BEST WAY TO DO THIS BUT IT WORKS
for x in numbers1:
    if x == 1:
        frequency["Number of 1's"] +=1
    if x == 2:
        frequency["Number of 2's"] +=1
    if x == 3:
        frequency["Number of 3's"] +=1
    if x == 4:
        frequency["Number of 4's"] +=1
    if x == 5:
        frequency["Number of 5's"] +=1
print()

for i,j in frequency.items():
    print(f"{i}: {j}")

print("---------------------------------")
#BETTER WAY TO DO IT
for x in numbers1:
    if x in frequency2:
        frequency2[x] +=1
    else:
        frequency2[x] = 1

for i,j in frequency2.items():
    print(f"{i}: {j}")

Number of 1's: 3
Number of 2's: 2
Number of 3's: 1
Number of 4's: 2
Number of 5's: 7
---------------------------------
1: 3
2: 2
3: 1
4: 2
5: 7

In [45]:
#Merge 2 dictionaries into 1

dict8 = dict(a=1,b=2)
dict9 = dict(b=3,c=4) 
'''
dictionary mein ek key sirf ek baar ho sakti hai. 
Toh jab same key dono dict mein hoti hai ('b'),
jo baad mein aati hai, wahi jeetti hai
'''
mergedDictionary = {**dict8, **dict9} # ** this is known as dictionary unpacking, and is used to merge multiple dictionaries together into aa new one.
print(mergedDictionary)

{'a': 1, 'b': 3, 'c': 4}