In [1]:
import numpy as np

x = np.random.randint(0, 10)
print(x)

0

In [2]:
listOfNumbers = [1,3,4,23,34,21,78,12,99,9999]
newNums = []

for i in listOfNumbers:
    if i > 12:
        newNums.append(i)

print(newNums)

[23, 34, 21, 78, 99, 9999]

In [3]:
# We use backslah "\" to continue a statement to the next line

total = 1+2+3\
    +4+6+5

print(total)

21

In [4]:
#Multiple statement in one line

x = "Shivansh"; y = "Gupta"; z = x + " " + y
print(type(x))
print(z)

<class 'str'>
Shivansh Gupta

In [5]:
#Calculator 

x = int(input("Enter the first number"))
y = int(input("Enter the second number"))
operation = input("Enter the symbol of the operation you would like to perform")

if operation == "+":
    print("Sum: ", (x+y))
elif operation == "-":
    print("Difference: ", (x-y))
elif operation == "*":
    print("product: ", (x*y))
elif operation == "/":
    print("Division: ", (x/y))
else:
    print("NOT VALID!!!")

Sum:  5

In [6]:
range(11)
#this function is an in-built ability in python to generate a range of numbers from 0 up until the number specified
#Note => when we say range(11) that means it will include 0 aswell and print up until 10 including 10 and it starts from 0.

for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [7]:
"""
the for loop below is a simple example of what we can do with the range function. Below each parameter is specified as to what it does number wise;

1. this is the start digit. This is the first number that will be printed when we run the for loop we can change this to whatever we want. By default its starts at zero
2. This is basically the number up until we are trying to print.Look at the previous cell to better understand this. 
3. This represents the incrementation amount. by how much will the count go up by. Right npw its set to 2 but we can change this however we want.
"""
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [8]:
# Reverse
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [9]:
# String

str = "Shivansh Gupta"

for i in str:
    print(i)

S
h
i
v
a
n
s
h

G
u
p
t
a

In [10]:
# Continue
# The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i % 2 != 0:
        continue
    print(i)

0
2
4
6
8

In [11]:
# Pass
# the pass statement is a null operation; it does nothing

for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

In [12]:
# Prime number between 1-100

for i in range(101):
    if i>1:
        for j in range(2, i ):
            if i%j==0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Tuple

In [ ]:
# Creating a tuple
#A tuple is immutable meaning we cannot change the values inside a tuple once they have been initialized
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
# another way to create a list and a tuple
lst=list() #Here we are creating a list using the list class
print(type(lst))
tpl=tuple() #Here we are creeating a tuple using the tuple class
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [17]:
#WE CAN TYPE CAST BETWEEN A LIST AND A TUPLE AS WELL DOING THE CASTING THE SAME WAY WE DO WITH INT AND STRING. tuple([1,2,3,4,5]) and similarly list((1,2,3,4,5))
numbers = tuple([1,2,3,4,5,6])
print(numbers)
print(type(numbers))
nums=list((1,2,2,3,3,4,5,5))
print(nums)
print(type(nums))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
[1, 2, 2, 3, 3, 4, 5, 5]
<class 'list'>

In [ ]:
#Accessing tuple elements
numbers1 = tuple([1,2,3,4,5,6])
print(numbers1[2])
print(numbers1[-1])
print(numbers1[0:3])
print(numbers1[::-1])#This is how we can reverse a Tuple or list aswell depending on the use case

3
6
(1, 2, 3)
(6, 5, 4, 3, 2, 1)

In [ ]:
#Operations on tuple
nums1 = tuple([1,2,3,4,5,6,7,8,9,10,1,2,3,6,1,1,1])
mixed_tuple = (1,"Shivansh", 3.8, True)

#Concatination
concat=nums1+mixed_tuple
print(concat)

#Printing out a tuple multiple times(THIS DOES NOT CHANGE THE VALUES INSIDE THE TUPLE BUT INSTEAD EVERYTHING A SPECIFIED NUMBER OF TIMES)
print(mixed_tuple * 3)

#Tuple Methods
print(nums1.count(1)) #how many times 1 appears in the tuple
print(nums1.index(3)) #at what index is 3 present at in the tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 6, 1, 1, 1, 1, 'Shivansh', 3.8, True)
(1, 'Shivansh', 3.8, True, 1, 'Shivansh', 3.8, True, 1, 'Shivansh', 3.8, True)
5
2

In [35]:
#packing and Unpacking tuples

#whenevr we initialize a variable as we have done below, it means we are packing a tuple
packed_tuple = 1, "Shiv", 1.9999
print(packed_tuple)

# Tuple Unpacking
# Tuple ke andar ki values ko alag-alag variables mein nikalna = unpacking
a, b, c = packed_tuple
print(a)
print(b)
print(c)

(1, 'Shiv', 1.9999)
1
Shiv
1.9999

In [36]:
#unpacking tuple with a *

letters = ("A","B","C","D","E")

first, *middle, last = letters
print(first)
print(middle)
print(last)

A
['B', 'C', 'D']
E

In [42]:
#Nested tuple

#First lets look at a nested list
lst1 = [[1,2,3,4,5,6],[7,8,9],[3,"Shivansh", True, 3.89]]
print(lst1)
print(lst1[2][1])
print(lst1[0][0:3])

#Now lets look at a nested tuple
lst2 = ((1,2,3,4,5,6),(7,8,9),(3,"Shivansh", True, 3.89))
print(lst2)
print(lst2[2][1])
print(lst2[0][0:3])
for i in lst2:
    for j in i:
        print(j, end = " ")

#WE CAN ALSO HAVE A TUPLE INSIDE A NESTED LIST

[[1, 2, 3, 4, 5, 6], [7, 8, 9], [3, 'Shivansh', True, 3.89]]
Shivansh
[1, 2, 3]
((1, 2, 3, 4, 5, 6), (7, 8, 9), (3, 'Shivansh', True, 3.89))
Shivansh
(1, 2, 3)
1 2 3 4 5 6 7 8 9 3 Shivansh True 3.89

# Sets

## Python Sets â€“ Properties (Simple Explanation)

## What is a Set?
A **set** is a collection of items that is:
- **Unordered**
- **Unique** (no duplicate values)
- **Mutable** (can be changed)

Example:
```python
my_set = {1, 2, 3}

In [ ]:
set1 = {1,2,3,4,5}
print(set1)
set2 = set([1,2,2,3,4,5,6,7,7,8,9]) #another wa to create a set is to directly just use the class
print(type(set2))

{1, 2, 3, 4, 5}
<class 'set'>

In [47]:
#unique items only duplicate values dont get printed multiple times
set3 = {1,2,2,2,2,2,3}
print(set3)

{1, 2, 3}

In [ ]:
#Set Operations 

set4 = set([1,2,3,4])

#adding to a set
set4.add(5)
print(set4)

#removing element from a set
set4.remove(1)
print(set4)

#If we were to remove a element from the set that does not exist using the .discard() method we will NOT get an error, but if we do .remove() method we will

{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [53]:
#Set membership test
set5={1,2,3,4,5}

print(4 in set5)
print(67 in set5)

True
False

In [55]:
#Mathematical operations in Sets 
set6 = set([1,2,3,4,5,6])
set7 = {7,8,9}
set8 = set((1,3,6))

#union
setunion = set6.union(set7)
print(setunion)

#intersection
setintersection = set.intersection(set8)
print(setintersection)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 6}

In [56]:
#Counting unique words in a text(sentence)

text = "hi my name is Shivansh and Shivansh has a 3.5 CGPA"
words = text.split()

uniqueWords = set(words)
print(uniqueWords)
print(len(uniqueWords))

{'CGPA', 'hi', '3.5', 'name', 'Shivansh', 'a', 'my', 'and', 'has', 'is'}
10